/* line 2, ../../scss/main/base.scss */
html,
body {
  height: 100%;
  /* The html and body elements cannot have any padding or margin. */ }

/* line 7, ../../scss/main/base.scss */
#content {
  padding-bottom: 60px; }

/* Wrapper for page content to push down footer */
/* line 11, ../../scss/main/base.scss */
#wrap {
  min-height: 100%;
  height: auto !important;
  height: 100%;
  /* Negative indent footer by it's height */
  margin: 0 auto -60px; }

/* Set the fixed height of the footer here */
/* line 22, ../../scss/main/base.scss */
#push,
#footer {
  height: 60px; }

/* line 25, ../../scss/main/base.scss */
#footer {
  background-color: #f5f5f5; }

/* Custom page CSS
-------------------------------------------------- */
/* Not required for template or sticky footer method. */
/* line 36, ../../scss/main/base.scss */
#footer {
  border-top: 1px solid #ddd;
  margin-bottom: 60px; }

/* line 40, ../../scss/main/base.scss */
.container {
  width: auto;
  max-width: 940px; }

/* line 44, ../../scss/main/base.scss */
.container .credit {
  margin: 20px 0;
  text-align: center; }
