{% extends "main/base.html" %}

{% load staticfiles %}
{% load avatar_tags %}

{% block extrastyle %}
{{ block.super }}

<link rel="stylesheet" href="{% static "css/gameplay/gameplay.css" %}"/>
{% endblock %}

{% block title %}asdf{% endblock %}

{% block content %}

{% if not single_col %}
<div class="left-col">
	<div class="module top">
		<div id="pin">
		</div>
	</div>

	<div class="module module-content">
		<div id="past-targets">
			<div class="header">Your Past Targets</div>
		</div>
	</div>
</div>
{% endif %}


<div class="right-col {% if single_col %}single-col{% endif %}">
	<div class="module top">
		<div id="target-info">
			{% if is_game_member %}
				<div class="hero-img" style="background-image:url('{{game.group_photo | safe}}'); background-position:0 -19px; background-color:#282828;">
				</div>
				<div style="background-image:url('{% avatar_url user 130 %}');" class="img-circle target-img">
				</div>
			{% else %}
				<div class="hero-img" style="background-color:#282828;">
					<div id="countdown">
						{% block extrascript %}<script src="{% static "js/countdown.min.js" %}"></script><script src="{% static "js/gameplay.js" %}"></script>{% endblock%}
					</div>
				</div>
				<div style="background-image:url({% static 'images/locked_game.png' %});" class="img-circle target-img">
				</div>
			{% endif %}		
			

			 <div id="assignment">
				<div class="pull-left">
					{% if is_logged_in and game_started %}
					<span class="header">Current Target: </span>{{user.get_full_name}}
					{% else %}
					Created by <span class="header">{{game.creator.get_full_name}}</span>
					{% endif %}
				</div>
				<div class="pull-right">
					{% if is_logged_in and game_started %}
					<form action="ELIMINATE" method="post">
						<input type="text" placeholder="Enter Target's Pin" />
						<input class="btn btn-danger" type="submit" />
					</form>
					{% else %}
					<div><h1>Read the Rules</h1></div>
					<div class="tagline">Register to play</div>
					{% endif %}

				</div>
			 </div>	
		</div>
	</div>

	<div class="module">
		<div class="timeline">
			<ul>
				<li class="event">
					<strong>Person 1</strong> Killed <strong>Person 2</strong>
				</li>
				<li class="event">
					<strong>Person 1</strong> Killed <strong>Person 2</strong>
				</li>
				<li class="event">
					<strong>Person 1</strong> Killed <strong>Person 2</strong>
				</li>
				<li class="event">
					<strong>Person 1</strong> Killed <strong>Person 2</strong>
				</li>
				<li class="event">
					<strong>Person 1</strong> Killed <strong>Person 2</strong>
				</li>
				<li class="event">
					<strong>Person 1</strong> Killed <strong>Person 2</strong>
				</li>
				<li class="event">
					<strong>Person 1</strong> Killed <strong>Person 2</strong>
				</li>
				<li class="event">
					<strong>Person 1</strong> Killed <strong>Person 2</strong>
				</li>
				<li class="event">
					<strong>Person 1</strong> Killed <strong>Person 2</strong>
				</li>
				<li class="event">
					<strong>Person 1</strong> Killed <strong>Person 2</strong>
				</li>
			</ul>
		</div>
	</div>
</div>


{% endblock %}