{% extends "main/base.html" %}

{% load staticfiles %}

{% block extrastyle %}
{{ block.super }}

<link rel="stylesheet" href="{% static "css/games/games.css" %}"/>
{% endblock %}


{% block content %}

<h1>Hello!</h1>
<p>This is the games app.</p>

<form method="post" action="{% url 'games:new' %}">
{% csrf_token %}

<table>
{{form}}
</table>

{% if groups %}
<table class="table table-hover">
{% for group in groups %}
	<tr>
		<td>
			<label for="{{group.gid}}">{{group.name}}</label>
		</td>
		<td>
			<input type="radio" name="selected-group" id="{{group.gid}}" value="{{group.gid}}" />
			<input type="hidden" name="{{group.gid}}-name" value="{{group.name}}" />
			<input type="hidden" name="{{group.gid}}-photo" value="{{group.pic_cover}}" />
		</td>
	</p>
{% endfor %}
</table>
{% endif %}

<input type="hidden" name="id_creator" value="{{user.id}}" />
<input type="submit" value="Create" />
</form>

{% endblock %}