{% extends "main/base.html" %}

{% block content %}

<h1>Hello!</h1>
<p>This is the games app.</p>

<form method="post" action="{% url 'games.views.new' %}">
{% csrf_token %}

<table>
{{form}}
</table>
	{% if groups %}
	{% for group in groups %}
		<p>
			<label for="{{group.id}}">{{group.name}}</label>
			<input type="checkbox" name="{{group.id}}" id="{{group.id}}" />

			{{group.pic_cover}}
		</p>
	{% endfor %}
	{% endif %}
<input type="hidden" name="id_creator" value="{{user.id}}" />
<input type="submit" value="Create" />
</form>

{% endblock %}